section{
    display: flex;
    margin-bottom: 100px;
}
div img{
    height: 400px;
    width: 300px;
}
.half{
    width: 50%;
}
span{
    color: orangered;
}
.full{
    margin: 50px;
}
.skip{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 150;
    font-size: 130%;
}
.order{
    border-style: none;
    background-image: linear-gradient(orange,red);
    padding: 5px 10px;
    border-radius: 6px;
    color: palegoldenrod;
    
}
.about{
    padding-left: 400px;
    padding-top: 100px;
    overflow: visible;
    height: 200px;
    width:400px ;
}
.image2{
    padding-left: 100px;
}
.background{
    background-image: url("7.png");
}


.myrecipies{
    text-align: center;
    
    
    
}
.firstone{
    
    background-color: cornsilk;
    
    border-radius: 20px;
    padding: 30px;
    margin-left: 80px;
    box-shadow: 5px 5px 5px gray;
    
    
    
    
}
.secto{
    width: 33%;
    padding:100px;
} 
.img{
    height: 250px;
    width: 250px;
}
.youtube{
    background-color:cornsilk;
    box-sizing: 40px 80px;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    padding-top: -initial;

}
.you{
    padding:80px;
    margin-left:80px;

}
footer{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: blanchedalmond;
    background-size: contain;
    padding-bottom: 70px;
    
    
}

